# Data Wrangling Template

## Gather

In [2]:
import zipfile

In [4]:
with zipfile.ZipFile('armenian-online-job-postings.zip', 'r') as myzip:
    myzip.extractall()

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('online-job-postings.csv')

In [8]:
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

## Assess

- Missing value (NaN's)
- StartDate inconsistencies (ASAP)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

 - Fix nondescriptive column headers ( AboutC, ApplicationP, RequiredQual and JobReq)

## Clean

#### Define

- Select all records in the StartDate column that have "As soon as possible", "Immediately", etc and replace the texts in those cells with "ASAP"
- Select all non-descriptive column headers and replace them with full words

#### Code

In [11]:
df_clean = df.copy()

In [12]:
df_clean.rename(columns={'ApplicationP': 'ApplicationProcedure', 'AboutC': 'AboutCompany', 'RequiredQual': 'RequiredQualifications','JobRequirment': 'JobRequirement'}, inplace=True)

In [13]:
df_clean.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationProcedure,OpeningDate,Deadline,Notes,AboutCompany,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [14]:
df_clean['StartDate'].value_counts()

ASAP                                       4754
Immediately                                 773
As soon as possible                         543
Upon hiring                                 261
Immediate                                   259
Immediate employment                        140
As soon as possible.                         32
01 September 2012                            31
March 2006                                   27
November 2006                                22
January 2010                                 19
Immediate job opportunity                    17
February 2014                                17
01 February 2005                             17
September 2010                               16
TBD                                          16
February 2011                                16
March 2011                                   15
September 2008                               15
01 February 2015                             14
February 2007                                14
01 July 2014                                 14
January 2016                                 13
01 March 2006                                13
01 September 2010                            13
01 September 2008                            13
01 October 2008                              12
September 2013                               12
01 October 2012                              12
Fall 2010                                    12
                                           ...
15 June 2004                                  1
By the end of January 2007                    1
16 May 2011                                   1
10 April 2006                                 1
15.09.08                                      1
24 November 2010, 19:00                       1
06 September 2010                             1
20 November 2004                              1
July 22, 2013                                 1
June 2004                                     1
06 & 07 October 2005, at 18:30                1
November, 2007                                1
01 August  2007                               1
By the end of the summer 2005                 1
27 October 2008                               1
August,  2009                                 1
20 December 2009                              1
Immediate employment.                         1
The expected start time is October 2007       1
10 May 2015                                   1
07 August 2006                                1
15 December  2005                             1
01 January 2006                               1
Mid July                                      1
24 August 2008                                1
June 1, 2007                                  1
15 August 2014                                1
10 December 2008                              1
01 May  2013                                  1
13 December 2008                              1
Name: StartDate, Length: 1186, dtype: int64

#### Test